
@model Skillap.MVC.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Log in";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<div class="row">
    <div class="col-md-10 offset-md-1">
        <section>
            <div class="text-center pt-3">
                @* <i class="fas fa-user-graduate fa-9x"></i>*@
                @*<i class="fas fa-alien-8bit fa-9x"></i>*@
                <i class="fas fa-user-ninja fa-7x"></i>
            </div>
            <h2 id="main_text_authorization" class="text-center pt-3 pb-2">Login</h2>
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label id="add_text" asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control input_email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label id="add_text" asp-for="Password" class="control-label"></label>
                    <input type="password" asp-for="Password" class="form-control input_password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div id="add_text" class="form-group text-center">
                    <p>
                        <a id="forgot-password" class="nav-link" asp-page="">Forgot Your Password?</a>
                    </p>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label id="add_text" asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div id="main_text" class="form-group">
                    <button id="buttons_auth" value="Sign In" class="btn btn-primary btn-block" type="submit">Sign In</button>
                </div>
                <hr />


                @*<div class="form-group">
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </p>
                <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </p>
                <p>
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                </p>
            </div>*@
            </form>
            @{
                if (Model.ExternalLogins?.Count == 0)
                {
                    <div>No external logins configured</div>
                }
                else
                {
                    <form method="post" asp-action="ExternalLogin" asp-controller="Account" asp-route-returnUrl="@Model.ReturnUrl">
                        <div>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <div id="main_text" class="form-group">
                                    <button id="buttons_auth" name="provider" value="@provider.Name" class="btn btn-danger btn-block" type="submit" title="Login using your @provider.DisplayName account">Sign In via @provider.DisplayName</button>
                                </div>
                            }
                        </div>
                    </form>
                }
            }
        </section>
    </div>
    @*<div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Use another service to log in.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>*@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}