@using Skillap.BLL.DTO;
@using Skillap.DAL.Entities;
@using Skillap.MVC.ViewModels;
@using Skillap.DAL.Interfaces 
@using Skillap.BLL.Interfaces.IServices;
@using Skillap.DAL.EF; 
@using Microsoft.EntityFrameworkCore; 
@inject IAuthService userService;
@inject IUnitOfWork uow; 
@inject DataContext db;
@model Posts;
@{
    int? sum = 0;
    var user = await userService.GetUserAsync(this.User.Identity.Name);

    //sum = Model.PostsLiked.Where(pl => pl.PostId == Model.Id && pl.UserId == user.Id).Select(t => t.Score).Sum();
    sum = db.LikedPosts.Where(pl => pl.PostId == Model.Id).Sum(t => t.Score);
    var tags = await (from t in db.Tags
                      join pt in db.PostsTags
                      on t.Id equals pt.TagId
                      join p in db.Posts
                      on pt.PostId equals p.Id
                      where p.Id == Model.Id
                      select t).ToListAsync();
    //sum = await uow.LikedPosts.FindAsync(pl => pl.PostId == Model.Id);

    Layout = "~/Views/Shared/_PostLayout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col">
            <span>@Model.Name</span>
            <span>@Model.Description</span>
            <span>@Model.CreatedTime</span>
            <br />
            <span>@foreach (Tags t in tags)
                    {
                        <span>@t.Name</span>
                    }
            </span>

            <div>
                <p>
                    @Html.ActionLink("Like", "Like", "Post", new { id = Model.Id })
                </p>
                <p>
                    @Html.ActionLink("Dislike", "Dislike", "Post", new { id = Model.Id })
                </p>


                <p>@sum --- Score</p>


            </div>
        </div>



    </div>
    <div class="row">
        <div class="col">
            @*@Html.Raw(Model.Comments)*@
            @{
                @Html.RenderPartialAsync("MainCommentView", new CommentViewModel { PostId = Model.Id, Id = 0 })
            }
            @foreach (var c in Model.Comments)
            {

                <div id="#comment">
                    <p>
                        @c.Content --- @c.CreatedTime --- <span>@Html.ActionLink("Like", "LikeComment", "Post", new { id = c.Id, postId = Model.Id })</span> / <span>@Html.ActionLink("Dislike", "DislikeComment", "Post", new { id = c.Id, postId = Model.Id })</span>
                    </p>
                </div>

            }

        </div>
    </div>

</div>
