@model IEnumerable<Skillap.DAL.Entities.Masters>

@{
    ViewData["Title"] = "GreedyAlgorithmForMasters";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SkillLevel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MasterClassId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUserId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>

                        @Html.DisplayFor(modelItem => item.Id)
                        @Html.HiddenFor(modelItem => item.Id)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SkillLevel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MasterClassId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationUserId)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
<form asp-action="GreedyAlgorithmForMastersPost" asp-controller="Logic" method="post">
    <button type="submit" class="btn btn-primary">Find Master</button>
</form>
